/* declaring variables*/

$primary-font-color: #6b717f;
$body-background: #fff;
$light-gray: #8c8c8c;
$light-gray-blue: #6b717f;
$pink: #bf4080;
$black: #000;

@import "body";
@import "main";
@import "headers";
@import "messages";
